<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
<body>
<%- include('includes/header') %>

<hr>
    <main>
        <form action="/create-post" method="POST">
          
            <% errors.forEach(error => { %>
                    <p class="notice"><%= error %></p>
            <% }) %>
        <fieldset>
            <legend>Crete a post</legend>
            <label for="title"><small>Title</small></label>
            <input type="text"id="title"name="title"autocomplete="off">
            
            <label for="content"><small>Content</small></label>
            <textarea name="content"id="content"autocomplete="off"></textarea>
            <br>
            <button class="b0">Save a New Post</button>
        </fieldset>
        </form>
    </main>
<%- include('includes/footer') %>
</body>
</html>